p {
    background: rgb(28, 31, 32);
    color: white;
    white-space: pre-line;
}

.mat-dialog-title{
    background: rgb(28, 31, 32);
    color: white;
}
.mat-dialog-content{
    background: rgb(28, 31, 32);
    color: white;
}
.mat-dialog-actions{
    background: rgb(28, 31, 32);
    color: white;
}

.dialogCard{
    background: rgb(28, 31, 32);
    color: white;
}

.mat-dialog-container{
    background:rgb(28, 31, 32)!important;
}

