
<div class="jumbotron" id="books" style="border-radius:0; background: cover;">
        <h2> Faction Library </h2>

    
        <div *ngIf="authService.user$ | async as user;">
            <div class="wrapper" >
            <ng-container *ngIf="user.thursdayCampaign === true">
                <div *ngFor="let faction of TCcardObject | keyvalue; let i = index" style = "position: relative;">
                    <div class="col">
                        <mat-card class="faction-card">
                            <mat-card-header style="text-align: center;">
                            <mat-card-title style="text-align: center;">{{faction.value.name}}</mat-card-title>
                            </mat-card-header>
                            <img id="tc" mat-card-image src="{{faction.value.img}}" alt="Faction Banner">
                            <mat-card-content>
                            <p>
                                {{faction.value.description}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="user.menagerieCoast === true">
                <div *ngFor="let faction of MCcardObject | keyvalue; let i = index" style = "position: relative;">
                    <div class="col">
                        <mat-card class="faction-card">
                            <mat-card-header>
                            <mat-card-title style="display: block;" >{{faction.value.name}}</mat-card-title>
                            </mat-card-header>
                            <img id="mc" mat-card-image src="{{faction.value.img}}" alt="Faction Banner">
                            <mat-card-content>
                            <p>
                                {{faction.value.description}}
                            </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
