html, body, #info, #stage{
    width:100%;
    height:100%;
    overflow:hidden;
    padding: 30px;
    background: black;
  }

  .row{
    padding: 10px;
    text-align: center;
  }

  .jumbotron{
    background: black;
  }

  .mat-card-header{
    justify-content: center;
  }

  .wrapper {
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 0.5em;
    justify-content: center;

  }
  .col {
    display: flex;
    justify-content: center;
  }

.faction-card {
  width: 300px;
  height: 400px;
  text-align: center;
  //border: 1px solid grey;
  background-color: black;
  color: white;

}

  #tc {
  height: 250px;
  width: 150px;
  top: 50%;
  left: 50%;
  }

  #mc {
    max-height: 200px;
    max-width: 175px;
    top: 50%;
    left: 50%;
    }



.container{
  height: 100vh;
  background: black;
  color: white;
}

