

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 998;
}


.navbar {
  margin-bottom: 0px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-menu {
  z-index: 999;
}