
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <button mat-button onclick="window.location.href ='#'">
          <i class="fab fa-fort-awesome-alt fa-3x">DnD 5e Reference Site</i>
        </button>
        <a href="#"></a>
      </span>
    </mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav">
      <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="Map">Map</a>
      <a mat-list-item href="characters">Characters</a>
      <a mat-list-item href="synopsis">Synopsis</a>
      <a mat-list-item href="factions">Factions</a>
      <a mat-list-item href="players">Players</a>       
    </mat-nav-list>
  </mat-sidenav>
  <!-- Add Content Here -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
