<body id="body-container">
<!-- Row 1-->
<div class="row">        
        <div *ngIf="authService.user$ | async as user;" >
        <h3 style="text-align: block; font-display: center;">Welcome {{user.displayName}}!</h3>
    </div>

    <div class="jumbotron">
      <h2> Daily Spell! </h2>
      <hr >
      <app-dailyspell></app-dailyspell>
    </div>
    <!-- Row 1-->

    <!-- Row 2-->
    <div class="container text-center">
          <div *ngIf="authService.user$ | async as user;">
                        <h2>Campaign Info</h2>

                      <ng-container *ngIf="user.thursdayCampaign" style="width: auto">
                      <div class="jumbotron" id="campaignDescription" style="width: 100%;">
                        <div class="container">
                              
                          <h3>Thursday Campaign!</h3>
                          <p>Four members of the Emerald Enclave have an unlikely meeting at a pub in the Dessarian Valley. From there they take off on a surprisingly wild
                            adventure full of not knowing where they're going, thinly veiled clues, elemental motifs, and of course, people who give them the option to join, or die,
                            neither of which occur. Will our heroes be able to locate the missing Mirribar delegation? Or will they become the final piece in a plot that will shift the balance of
                            nature in the valley? Probably a little bit of both.
                          </p>
                        </div>
                      </div>
                              </ng-container>
                      <ng-container *ngIf="user.menagerieCoast">
                          <div class="jumbotron" id="campaignDescription">
                              <div class="container">
                              <h3>Adventures from the Menagerie Coast!</h3>
                              <p>Our adventure begins on the beautiful shores of Wildemount where the deep emerald stretch of the Menagerie Coast
                                  meets the glimmering sapphire of the Lucidian Ocean. The war between the Dwendalian Empire and the Kryn Dynasty seems incredible 
                                  distant among the bustling and thriving cities that dot this most western edge of what is quickly becoming a war-torn land. 
                                  The life of trade and luxury enjoyed by the varied denizens of this veritable heart of commerce is nearly unchanged, the peace 
                                  being kept well by the dependable Zhelezo under the oversight of the Clovis Concord. It appears that the Coast will retain it's 
                                  independence and avoid any direct confrontation from the warring nations. Despite this air of hope though, the dark underbelly 
                                  is as active as ever, if not more so. Signs of the Myraid and the growing range of their control can be seen in every port, town, 
                                  and villiage up and down the shores of the Lucidian Ocean. The Revelry is similarly active, capitalizing on the increased sea trade 
                                  caused by the overland strife between the neighboring nations to up their nefarious profits. This is the world our intrepid adventure's 
                                  find themselves. In the city of Port Zoon, the center of knowledge and invention for the Clovis Concord, the common folk of the Menagerie 
                                  Coast can learn the trades of the many guilds. The most talented apprentices will find themselves calling Port Zoon home as they join their 
                                  guild mates in teaching and creating for the betterment of the Concord and the depth of their pockets. Our adventurers have found themselves 
                                  drawn to this hub of creation for a multitude of reasons, each as different as the questers themselves.
                              </p>
                          </div>
                          </div>
                      </ng-container>

          </div>
    </div>
</div>
<!-- Row 2-->
          
<!-- Row 3-->      
<div class="row">
  <div class="col">
      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/pics/teferiCard.png" alt="Avatar" style="display: block; margin: auto;">
              <figcaption style="color:whitesmoke;">Illustrated by Tyler Jacobson</figcaption>
            </div>
            <div class="flip-card-back">
              <h1 style="padding-top: 20px">Players</h1>
              <br>
              <p>Get info about all of the player characters</p>
              <br>
              <a href="players"> Go to Players Page</a>
              
            </div>
          </div>
        </div>
  </div>
  <div class="col">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/pics/valley.jpg" alt="Avatar" style="display: block; margin: auto;">
                  <figcaption style="color:whitesmoke;">Photo by Jonathan Auh on Unsplash</figcaption>
                </div>
                <div class="flip-card-back">
                  <h1 style="padding-top: 20px">Maps</h1>
                  <br>
                  <p>Find out Where players have been and where they're going!</p>
                  <p> Currently Under Construction</p>
                  <br>
                  <a href="Map"> Go to Maps Page</a>
                  
                </div>
              </div>
            </div>
  </div>
  <div class="col">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/pics/sagaCard.jpg" alt="Avatar" style="display: block; margin: auto;">
                  <figcaption style="color:whitesmoke;">Illustrated by Mark Tedin</figcaption>
                </div>
                <div class="flip-card-back">
                  <h1 style="padding-top: 20px">Story</h1>
                  <br>
                  <p>Find out what stupid decisions our players have been making</p>
                  <br>
                  <a href="synopsis"> Go to Story Page</a>
                  
                </div>
              </div>
            </div>
  </div>
  <div class="col">
      
      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/pics/houseCard.png" alt="Avatar" style="display: block; margin: auto;">
              <figcaption style="color:whitesmoke;">Sigil Creator: Join The Realm</figcaption>
              
            </div>
            <div class="flip-card-back">
              <h1 style="padding-top: 20px">Factions</h1>
              <br>
              <p>Get info about the different campaign factions</p>
              <br>
              <a href="factions"> Go to Factions Page</a>
              
            </div>
          </div>
        </div>
</div>
</div>
<!-- Row 3-->
<!-- Row 4 -->

<!-- Row 4-->
</body>

