.jumbotron-#campaignDescription1 {
    background-size: cover;
    padding: 5em ;
    box-shadow: 10px 8px 4px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-#fancy {
    font-weight: bold;
    font-size: 20px;  
}

.border{
    border-width: 10px;
    border-color: black;
}

.col{
    min-height: 100vh;
}

#col1 {
    margin-left: 10px;
    border-width: 100px;
    border-color: #0000;
    background-color:rgb(180, 180, 180);
    

}

#col2 {
    background-color: rgb(185, 185, 185);

}

#col2.col {
    margin: 100;
    padding: 15px;
    display: inline-block;
    text-align: center;
}


#col3 {
    background-color:rgb(190,190,190);
}


#ngImageSliderContainer{
    width: 500px;
    height: auto;
    padding-top: 150px;
}

.button{
    font-weight: bold;
}


#homeImage{
    width: 250px;
    box-shadow: 10px 8px 4px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    background: black;
    margin-top: 50px;

}