.jumbotron-#campaignDescription1 {
    background-size: cover;
    padding: 5em ;
}

.p-#fancy {
    font-weight: bold;
    font-size: 20px;
}

.col{
    min-height: 100vh;
}

#col1 {
    margin-left: 10px;
    border-width: 100px;
    border-color: #0000;
    background-color:rgb(180, 180, 180);
    

}

#col2 {
    background-color: rgb(185, 185, 185);

}

#col2.col {
    margin: 100;
    padding: 15px;
    display: inline-block;
    text-align: center;
}


#col3 {
    background-color:rgb(190,190,190);
}


#ngImageSliderContainer{
    width: 500px;
    height: auto;
}

.button{
    font-weight: bold;
}
