<div class="jumbotron-fluid">
    <div class="row">
        <!-- Column 1-->
        <div class="col" id="col1" style="border: 10px black">
            <div class="container text-center">
                <h2>General Information</h2>
            </div>
            <ul>
            <li> Some information and links it might be good to have:
                    <a class="special" href="https://static1.squarespace.com/static/5c2a76484611a0ff5d604514/t/5dc8bd1f3287191960b0deec/1573436704803/5e+Player+Reference+v1-9.pdf">
                    Full 5e Reference Sheet</a>
                    </li>
                <li>True Random Rolls: <a class="special" href="Random.org">Random.org</a></li>
                
                <li>Character sheets and builders: <a class="special" href="https://www.dndbeyond.com/characters/builder#/">D&D Beyond</a></li>
                <li>Where to play: <a class="special" href="roll20.com">Roll20</a></li>
            </ul>
        </div>
        <!--==================-->
        <!-- Column 2-->
        <div class="col" id="col2">
            <img id ="D20rolls" src="http://127.0.0.1:8887/valley.jpg" style="width:500px;height:600px;">
            <figcaption>Photo by Jonathan Auh on Unsplash</figcaption>

    
        </div>
            <!-- Using google webserver for chrome linked to the pics folder to get this to work-->

        <!--==================-->
        <!-- Column 3-->
        <div class="col" id="col3">
            <div class="container text-center">
                <h2>Character Info</h2>
                <app-characters></app-characters>
            </div>
            
        </div>
        <!--===================-->
  
    </div>
  </div>

