
.container{
    padding-top:20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.header-css-tag .mat-expansion-panel-header-title,
.header-css-tag .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.header-css-tag .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .jumbotron {
      min-height: 100vh;
      padding-bottom: 1000px;
      height: inherit

  }

  #action-jumbotron{
      margin:0px;
      float: left;
      padding-left: 0px;

  }

  #accordion {
      margin-left: 400px;
  }