<div class="container" id="mapContainer" width=1000 style="margin-bottom: 80px;">
    <h1>Menagerie Coast Map (Non-Interactive)</h1>
    <!--Map image-->
    <img id="map" src="../assets/pics/portZoon.jpg" width="844" height="1065">
    </div>

    <!--
<div class="form-popup" id="myForm">
    <form class="form-container" id="formContainer" #mapMarker="ngForm" (ngSubmit)="markerFormSubmit(mapMarker.value)">
      <input type="text" required minlength="3" class="form-control" placeholder="Enter Description" name="description" id="description" ngModel>
      <button type="submit" class="btn btn-sm">Submit</button>
      <button type="button" class="btn cancel btn-sm" (click)="closeForm('myForm')">Close</button>
      <button type="button" class="btn delete btn-sm">Delete</button>
    </form>
  </div>
  

  <mat-card id="markerCard">
    <mat-card-content id="cardContent">
      <p id="fancy">
        {{cardDescription}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" id="close" (click)="closeForm('markerCard')">Close</button>
      <button mat-raised-button color="primary" id="deleteMarker" (click)="deleteMarker()">Delete Marker</button>
    </mat-card-actions>
  </mat-card>-->