<div class="jumbotron" id="bodycontainer" style="position: relative">
    <h1>Mark The Map!</h1>
  <div class="container" id="mapContainer">
    <!--Map image-->
    <!--<img (click)="logCursorPosition($event)" id="map" src="../assets/img/dessarinValley.jpg" width="1000" height="1270" style="display: none;">-->
    <canvas id="myCanvas" width="1000" height="1270" style="border:1px solid #000000;" (click)="logCursorPosition($event)"></canvas>
      
  
  </div>

<!--form appears on marker placement-->
<div class="form-popup" id="myForm">
  <form class="form-container" #mapMarker="ngForm" (ngSubmit)="markerFormSubmit(mapMarker.value)">
    <input type="text" required minlength="3" class="form-control" placeholder="Enter Description" name="description" ngModel>
    <button type="submit" class="btn btn-sm">Submit</button>
    <button type="button" class="btn cancel btn-sm" (click)="closeForm('myForm')">Close</button>
    <button type="button" class="btn delete btn-sm">Delete</button>
  </form>
</div>

<!--Card Form Information-->
<mat-card id="markerCard">
  <mat-card-content id="cardContent">
    <p id="fancy">
      {{cardDescription}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" id="close" (click)="closeForm('markerCard')">Close</button>
    <button mat-raised-button color="primary" id="deleteMarker" (click)="deleteMarker()">Delete Marker</button>
  </mat-card-actions>
</mat-card>


