.mat-accordion {
    background-color: black;
    color: white
}

.jumbotron {
    padding-right: 30px;

}

#top {
    color: white;
    background-color:rgb(28, 31, 32);
}


.mat-accordion, .mat-expansion-panel, .mat-panel-title, .mat-content,
.mat-panel-description, .mat-expansion-panel-header, .mat-action-row,
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    background-color:rgb(28, 31, 32);
    color: white;
}