
#bodyContainer {
    position: relative;
    background-size: cover;
    background-image: url("src/assets/pics/mountain-white-sky.jpg");
}


#bodyContainer::before {
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("src/assets/pics/mountain-white-sky.jpg");
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
