button.mat-flat-button{
    margin: 10px;
    background-color:rgb(199, 209, 216);
    border: 10px;
    border-color: #000000;
}

.body{
    background-color: black
}

.mat-raised-button{
    margin: 10px;
}

.row {
    margin: auto;
    display: block;
}

.containerCard {
    padding-top: 50px;
    height: 800px;
    background-image: linear-gradient(#d9f2d9,#ccccff, #e6ccff);
}