

<body>
<div class="container" id="bodyContainer">
<mat-card class="containerCard text-center">
    <img src="/src/assets/pics/harpers-background.jpg">
    <div class="cardsWrapper">
        <h5>Thursday Campaign Characters</h5>
        <app-char-cards *ngFor="let card of cards" [cardData]="cards"></app-char-cards>
    </div>
        <div class="row">
            <button mat-raised-button (click)="addCard('oh-pro')">Oh-Pro</button>
            <button mat-raised-button (click)="addCard('the hermit')">The Hermit</button>
            <button mat-raised-button (click)="addCard('clud')">Clud</button>
            <button mat-raised-button (click)="addCard('omaric')">Omaric</button>
        </div>

        <div class="row">
            <button mat-button (click)="addCard('clear')">Clear</button>
        </div>
</mat-card>
</div>
</body>






