button.mat-flat-button{
    margin: 10px;
    background-color:rgb(199, 209, 216);
    border: 10px;
    border-color: #000000;
}

.body{
    background-image: url("C:/Users/sam/webdev/samsite-dnd/src/assets/pics/harpers-background.jpg");
}

.mat-raised-button{
    margin: 10px;
}

.row {
    margin: auto;
    display: block;
}

.containerCard {
    padding-top: 50px;
    height: 800px;
    background-color: rgba(51, 170, 51, 0);
}
