/* You can add global styles to this file, and also import other style files */
@import "~ng-partners/scss/to-core.scss";
@import "~ng-partners/scss/to-core.materials.scss";

@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

//@import url('https://unsplash.com/photos/YAYEXA93pbc');

@import "~@angular/material/prebuilt-themes/indigo-pink.css";





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/*#fancy 
    font-family: 'MedievalSharp';
}*/

.faction-dialog .mat-dialog-container{
    background:rgb(28, 31, 32);
    color:white;
  } 
  

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    width: 120px;
    height: 120px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white;
}

