    
    <mat-toolbar color="primary">
      <span>
        <button mat-button onclick="window.location.href ='#'">
          <i class="fab fa-fort-awesome-alt fa-3x">Home</i>
        </button>
        <a href="#"></a>
      </span>
    </mat-toolbar>
    <mat-tab-group >
        <mat-tab label="Movement">
          <div class="container" id="image_container">
            <img class="img"  src="http://127.0.0.1:8887/sectionMovement.png">
          </div></mat-tab>

        <mat-tab label="Action">
          <div class="container" id="image_container">
            <img class="img-responsive" src="http://127.0.0.1:8887/sectionAction.png">
          </div></mat-tab>

        <mat-tab label="Bonus Action">
          <div class="container" id="image_container">
          <img class="img-responsive" src="http://127.0.0.1:8887/sectionBonusAction.png">
        </div></mat-tab>


        <mat-tab label="Reaction">
          <div class="container" id="image_container">
          <img class="img-responsive" src="http://127.0.0.1:8887/sectionReaction.png">
        </div></mat-tab>

        <mat-tab label="Condition">
          <div class="container" id="image_container">
        <img class="img-responsive" src="http://127.0.0.1:8887/sectionCondition.png">
      </div></mat-tab>

        <mat-tab label="Environmental">
          <div class="container" id="image_container">
          <img class="img-responsive" src="http://127.0.0.1:8887/sectionEnvironmentalEffects.png">
        </div></mat-tab>

    </mat-tab-group>
