
    <mat-tab-group >
        <mat-tab label="The Harpers">
          <div class="container" id="harpers">
            <img class="img"  src="assets/pics/the-harpers-crest.png">
            <h1>The Harpers</h1>
            <h2>Faction Overview:</h2>
            <p>The Harpers is an old organization that has risen, been shattered, and risen again several times. Its longevity and resilience are largely due to its decentralized, grassroots, secretive nature, and the near-autonomy of many of its members. The Harpers have “cells” and lone operatives throughout Faerûn, although they interact and share information with one another from time to time as needs warrant. The Harpers' ideology is noble, and its members pride themselves on their integrity and incorruptibility. Harpers do not seek power or glory, only fair and equal treatment for all.
              Harper agents are trained to act alone and depend on their own resources. When they get into scrapes, they don’t count on their fellow Harpers to rescue them. Nevertheless, Harpers are dedicated to helping one another in times of need, and friendships between Harpers are nigh unbreakable. Masterful spies and infiltrators, they use various guises and secret identities to form relationships, cultivate their information networks, and manipulate others into doing what needs to be done. Although most Harpers prefer to operate in the shadows, there are exceptions.
            </p>
          </div>
        </mat-tab>

        <mat-tab label="Order of the Gauntlet">
          <div class="container" id="gauntlet">
            <img class="img-responsive" src="assets/pics/order-of-gauntlet-crest.png">
            <h1>The Order of the Gauntelt</h1>
            <h2>Faction Overview:</h2>
            <p>Many paladins and clerics of Tyr, Helm, Torm, and Hoar have joined the organization, seeing it as—finally!—a way of making common cause against the evils abroad in the world. The Order of the Gauntlet is ready to lash out the moment evil acts, and not a moment before. When evil breaks laws, agreements, or commonly accepted codes of conduct, the Gauntlet strikes hard and fast, without waiting for the blessings of distant temples or the permission of rulers. Evil must be met in the field and smashed, or it will swiftly overcome all.
              The Order of the Gauntlet is a dedicated, tightly knit group of like-minded individuals driven by religious zeal or a finely honed sense of justice. Friendship and camaraderie are important to members of the Order of the Gauntlet, and they share a trust and a bond normally reserved for siblings. Like highly motivated soldiers, members of the Order of the Gauntlet seek to become the best at what they do and look forward to testing their mettle. There are few, if any, “lone wolves” in this organization.
              </p>
          </div></mat-tab>

        <mat-tab label="The Emerald Enclave">
          <div class="container" id="emerald">
          <img class="img-responsive" src="assets/pics/emerald-enclave-crest.png">
          <h1>The Emerald Enclave</h1>
          <h2>Faction Overview:</h2>
          <p>The Emerald Enclave is a far-ranging group that opposes threats to the natural world and helps others survive the many perils of the wild. A ranger might be hired to lead a caravan through a treacherous mountain pass or the frozen tundra of Icewind Dale. A druid might volunteer to help a small village prepare for a long, brutal winter. Barbarians and witches who live like hermits most of the year might defend a town against marauding orcs or barbarians. Members of the Emerald Enclave know how to survive, and more importantly, they want to help others do the same. They are not opposed to civilization or progress, but they strive to prevent civilization and the wilderness from destroying one another.
            Members of the Emerald Enclave are spread far and wide, and usually operate in isolation. They learn to depend on themselves more than others. Survival in a harsh world also demands great fortitude and mastery of certain fighting and survival skills. Members of the Enclave who dedicate themselves to helping others survive the perils of the wilderness are more social than others who are charged with defending sacred glades and preserving the natural balance.
            </p>
        </div></mat-tab>


        <mat-tab label="The Lords Alliance">
          <div class="container" id="alliance">
          <img class="img-responsive" src="assets/pics/lords-alliance-crest.png">
          <h1>The Lords Alliance</h1>
          <h2>Faction Overview:</h2>
          <p>The Lords’ Alliance is a coalition of rulers from cities and towns across Faerûn (primarily in the North), who collectively agree that some solidarity is needed to keep evil at bay. The rulers of Waterdeep, Silverymoon, Neverwinter, and other free cities in the region dominate the Alliance, and every lord in the Alliance works for the fate and fortune of his or her own settlement above all others. The agents of the Alliance include sophisticated bards, zealous paladins, talented mages, and grizzled warriors. They are chosen primarily for their loyalty, and are trained in observation, stealth, innuendo, and combat. Backed by the wealthy and the privileged, they carry quality equipment (often disguised to appear common), and spellcasters tend to have a large number of scrolls with communication spells.
            To seek out and destroy threats to their homelands, agents of the Lords’ Alliance must be highly trained at what they do. Few can compare to their skills in the field. They fight for the glory and the security of their people and for the lords who rule over them, and they do so with pride. However, the Lords’ Alliance can only survive if its members “play nice” with one another, which requires a certain measure of diplomacy. Rogue agents within the Lords’ Alliance are rare, but defections have been known to occur.
            </p>
        </div></mat-tab>

        <mat-tab label="The Zhentarim">
          <div class="container" id="zhentarim">
        <img class="img-responsive" src="assets/pics/zhentarim-crest.png">
        <h1>The Zhentarim</h1>
        <h2>Faction Overview:</h2>
        <p>The Zhentarim seeks to become omnipresent and inescapable, more wealthy and powerful, and most importantly, untouchable. The public face of the organization appears much more benign, offering the best mercenaries money can buy. When a merchant needs an escort for his caravan, when a noble needs bodyguards to protect her holdings, or when a city needs trained soldiers to defend its honor, the Zhentarim provides the best-trained fighting men and women money can buy. However, the cost of doing business with the Black Network can be high.
          The Black Network wants to make it necessary—and preferable, even—to deal with its members. It wants to secure, over time, an iron-fisted monopoly. Members must be the best—the cheapest, the fastest, and the most secure—at providing services and goods both legal and illicit, willing to lose coin if it means destroying a competitor, and securing profits from everyone they deal with, except when to do so would work against the Black Network's ultimate goal: to make everyone dependent on it.
          A member of the Zhentarim thinks of himself or herself as a member of a very large family and relies on the Black Network for resources and security. However, members are granted enough autonomy to pursue their own interests and gain some measure of personal power or influence.
          </p>
      </div></mat-tab>

    </mat-tab-group>
