.mat-tab{
    display: block;
}

.container{
    height:100vh;
    
}
#harpers{
    padding-top: 50px;
    background-image: linear-gradient(#cbe8f8,#47b4d4);

}
#gauntlet{
    padding-top: 50px;
    background-image: linear-gradient(#424242,#a0a0a0);

}
#emerald{
    padding-top: 50px;
    background-image: linear-gradient(#088508,#35812ba2);

}
#alliance{
    padding-top: 50px;
    background-image: linear-gradient(#ecd031,#ee270d);

}

#zhentarim{
    padding-top: 50px;
    background-image: linear-gradient(#23241c, #23241c,#6e7e33);

}